@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

html {
    font-size: 62.5%;
}

/* navbar start */
#navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
}

.logo {
    width: 20%;
    margin: 2rem 1rem 2.5rem 1rem;
}

.logo>img {
    width: 55%;
    padding-top: 1rem;
}

.nav-item {
    width: 55%;
    margin: 2rem 1rem 2.5rem 1rem;
    font-size: 2rem;
    justify-content: space-evenly;
}

.nav-item-2 {
    display: flex;
    justify-content: space-evenly;

}

.nav-item-2>a {
    padding-top: 1rem;
    text-decoration: none;
    color: rgb(76, 153, 199);
}

.nav-item-2 a:hover {
    text-decoration: underline;
}

.sp {
    margin-top: 1rem;
}

.sp>a {
    text-decoration: none;
    color: rgb(76, 153, 199);
    padding-bottom: 4rem;
}

.btn-1s {
    font-weight: 600;
    padding: .9rem 1.2rem .9rem 1.2rem;
    font-size: 1.7rem;
    background-color: rgb(59, 143, 194);
    color: white;
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(44, 177, 240);
}

.btn-1s:hover {
    background-color: #4d81a1;
}

.dropdowns {
    position: relative;
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-contents {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 1;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}

/* Style the dropdown links */
.dropdown-contents a {
    color: #4d81a1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    font-weight: lighter;
}

/* Change the link color on hover */
.dropdown-contents a:hover {
    text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdowns:hover .dropdown-contents {
    display: block;
}

/* navbar end */


/* responsive navbar start */
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
}

.menu-toggle {
    cursor: pointer;
    display: none;

}

.bar {
    margin: 5px 0;
    color: white;
}

.fa-bars {
    color: rgb(76, 81, 82);
    font-size: 2.5rem;
    padding-right: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(76, 153, 199);
    font-weight: bold;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.bar img {
    width: 20%;
    padding-left: 1rem;
}





.btn-1 {
    font-weight: lighter;
    padding: .6rem;
    font-size: 1rem;
    background-color: rgb(59, 143, 194);
    color: white;
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(44, 177, 240);
    width: 26%;
}

.btn-1:hover {
    background-color: #4d81a1;
}


.dropdown {
    position: relative;
    display: inline-block;
    /* margin-left: 1.9rem; */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    /* position: absolute; */
    font-size: 1.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    z-index: 1;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}

/* Style the dropdown links */
.dropdown-content a {
    color: rgb(59, 143, 194);
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}

/* Change the link color on hover */
.dropdown-content a:hover {
    text-decoration: underline;
}

/* responsive navbar end */



.first-container {
    text-align: center;
    margin-top: 6rem;
}

.first-container h1 {
    font-size: 6.4rem;
    color: rgb(33, 37, 41);
    margin-bottom: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    /* font-weight: bold; */
}

.first-container h2 {
    font-size: 3.2rem;
    color: rgb(57, 114, 148);
    font-family: 'Inter', sans-serif;
}

.first-cont {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 15rem;
    font-family: 'Inter', sans-serif;
}

.child-1 {
    width: 45%;
    /* margin: auto; */
}

.child-1>h3 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
    font-weight: 900;
}

.child-1 p {
    font-size: 1.92rem;
    margin-bottom: 3rem;
    line-height: 2.8rem;
}

.child-1 ul {
    font-size: 1.8rem;
    margin-left: 2rem;
}

.child-1 ul li {
    margin-bottom: 1.8rem;
}

.child-flex-1 {
    font-size: 4rem;
    margin-top: 3.5rem;
    font-weight: lighter;
}

.child-flex-2 {
    font-size: 8rem;
    font-weight: 900;
}

.flex-parent {
    display: flex;
    margin-bottom: 4rem;
}

.flex-parent-2 {
    font-size: 1.4rem;
    font-style: italic;
    margin-left: 4rem;
}

.main-parent {
    display: flex;
}


.button-1 {
    margin-top: 11.5rem;
    /* font-family: 'Inter', sans-serif; */
}

.button-1 button {
    width: 85%;
}

.button-2 button {
    width: 85%;
}

.button-2 {
    margin-top: 4rem;
}

.button-1 a {
    text-decoration: none;
}

.button-2 a {
    text-decoration: none;
}

.btn-2 {
    padding: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(51, 51, 51);
}

.btn-2:hover {
    background-color: rgb(59, 143, 194);
    color: #fff;
    border: 1px solid rgb(44, 177, 240)
}

.btn-3 {
    font-weight: 600;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: rgb(59, 143, 194);
    color: white;
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(44, 177, 240)
}

.btn-3:hover {
    background-color: #4d81a1;
}

.pricing-table {
    width: 85%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

.pricing-table th {
    text-align: left;
}

.pricing-table th,
.pricing-table td {
    padding: 20px 15px 20px 40px;

    font-size: 1.6rem;
}

.pricing-table td {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
}


.pricing-table th {
    background-color: rgb(244, 244, 244);
}

.fa-check {
    font-size: 2rem;
}

#last-tr {
    padding-bottom: 5rem;
    border-bottom: none;
}

.container-3 {
    margin-top: 7rem;
    font-family: 'Inter', sans-serif;
}

.container-3 h2 {
    font-size: 4rem;
    color: rgb(55, 93, 117);
    text-align: center;
}

/* accordian */

.accordion {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 4rem;
}

.accordion-item {
    margin-bottom: .8rem;
    overflow: hidden;
}

.accordion-header {
    padding: 1.3rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.accordion-header i {
    float: right;
}

.accordion-content {
    padding: 1.5rem;
    display: none;
    font-size: 1.92rem;
}

.accordion-item.active .accordion-content {
    display: block;
}

.fa-chevron-down {
    color: rgb(189, 190, 191);
    font-size: 1.5rem;
}

/* last bg start */

.last-bg {
    background-color: rgb(220, 238, 250);
    width: 85%;
    margin: auto;
    margin-top: 7rem;
}

#first-bg {
    font-size: 5.6rem;
    font-weight: 100;
    width: 85%;
    margin: auto;
    padding-top: 5rem;
    margin-bottom: 5rem;
}


#first-bg p {
    color: rgb(73, 79, 85);
    font-family: 'Roboto', sans-serif;
}

#first-bg strong {
    color: black;
    font-family: 'Inter', sans-serif;
}

.flex-bg-1 {
    width: 85%;
    margin: auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    font-family: 'Inter', sans-serif;
}

.child-flex-bg-1 {
    color: rgb(55, 93, 126);
    font-weight: bold;
}

.flex-bg-1>div>a {
    color: rgb(59, 143, 194);
}

.flex-bg-2 {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    text-align: center;

}

.flex-bg-2 h5 {
    font-size: 1.4rem;
    color: rgb(55, 93, 117);
    margin-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
}

.flex-bg-2 h5+div {
    font-size: 7.2rem;
    color: rgb(60, 97, 121);
    font-weight: lighter;
    padding-bottom: 5rem;
    font-family: 'Roboto', sans-serif;
}

.flex-bg-2 span {
    color: rgb(59, 143, 194);

}

/* last bg end */

/* last css */

.container-7 {
    margin: auto;
    width: 55%;
    margin-top: 15rem;
    margin-bottom: 17rem;

}


.container-7 h2 {
    font-size: 3.2rem;
    color: rgb(55, 93, 117);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container-7 p {
    margin-top: 2.8rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.main-tick-items {
    width: 90%;
    margin: auto;
    /* font-family: 'Roboto', sans-serif;*/
    font-family: 'Inter', sans-serif;
}

.tick-items {
    display: flex;
}

.tick-items-child-img {
    font-size: 1.5rem;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.tick-items-child-img a {
    color: rgb(59, 143, 194);
}


.tick-items-child-img a:hover {
    text-decoration: none;
}

.tick-items-child-img img {
    width: 7%;
    margin-right: 1rem;
}

.container-8 {
    background-color: rgb(248, 250, 251);
    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 7rem;
    font-family: 'Inter', sans-serif;
}

.container-8 h2 {
    font-size: 3.2rem;
    color: rgb(57, 114, 148);
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.container-8 h2+a {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: lighter;
}

.container-8>div {
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: rgb(55, 93, 138);
}

.container-8>div {
    margin-top: 6rem;
    padding-bottom: 5rem;
}

.container-8>div>a {
    color: rgb(0, 0, 0);
}

.container-8>div>a:hover {
    text-decoration: none;
}

.btn-4 {
    padding: 2rem 3.5rem 2rem 3.5rem;
    background-color: rgb(59, 143, 194);
    color: white;
    border-radius: 5px;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(44, 177, 240);
}

.btn-4:hover {
    background-color: #4d81a1;

}

/* footer css */

.bg-6 {
    background: rgb(55, 93, 117);
    font-family: 'Inter', sans-serif;
    letter-spacing: .1rem;
    position: relative;
}


.img-logo {
    /* border: 1px solid chartreuse; */
    margin-top: 5rem;
}

.img-logo>img {
    width: 40%;
}

.img-logo>div {
    font-size: 1.5rem;
    color: rgb(219, 241, 255);
    font-weight: 500;
    margin-right: 5rem;
    margin-top: 1rem;
}

.grid-5 {
    display: flex;
    width: 89%;
    margin: auto;
    justify-content: space-between;
}

.mult-ul {
    width: 15%;
    margin-top: 5rem;
}

.mult-ul li {
    margin-top: 1.2rem;
}

.mult-ul ul {
    list-style-type: none;
}

.mult-ul ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(219, 241, 255);
    line-height: 2.3rem;
}

.mult-ul ul li strong {
    font-size: 1.8rem;
    font-weight: 900;
    color: rgb(219, 241, 255);
    /* line-height: 4rem; */
}

.last-elem {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(219, 241, 255);
    margin-top: 8rem;
    font-weight: lighter;
    padding-bottom: 2rem;
}

.last-elem a {
    color: rgb(219, 241, 255);

}

.last-elem a:hover {
    text-decoration: none;
}

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}



@media (max-width:1000px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:950px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 840px) {

    .p2 {
        margin-top: 7rem;
    }

    #navbar {
        display: none;
    }

    .navbar {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        /* position: sticky;
        top: 0; */
    }


    .menu-toggle {
        display: block;
        /* margin-bottom: 2rem; */
    }

    .sps {
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        top: 60px;
        left: 0;
        width: 100%;
        font-size: 1.6rem;
        font-weight: lighter;
        z-index: 1;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        text-align: left;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    .dropdown-content {
        display: none;
    }


    .dropdown-content {
        margin-left: 1rem;
        font-size: 1.5rem;
        border-left: 2px solid rgb(210, 230, 224);
        padding-left: .8rem;
        width: 90%;
        border-bottom: 2px solid rgb(210, 230, 224);
    }

    .button {
        margin-top: 3rem;
        text-align: center;
    }

    .btn-12 {
        padding: 1rem;
        font-size: 1.5rem;
        background-color: rgb(59, 143, 194);
        color: white;
        border-radius: 5px;
        letter-spacing: .1rem;
        border: none;
        cursor: pointer;
        border: 1px solid rgb(44, 177, 240);
        width: 26%;
    }

    .btn-12:hover {
        background-color: #4d81a1;
    }


}

@media (max-width:560px) {
    .flex-bg-2 {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        justify-content: space-between;
        text-align: center;
    
    }
}

@media (max-width:768px) {
    /* footer start */
    .img-logo {
        margin-top: 5rem;
    }

    .img-logo>img {
        width: 12%;
    }

    .img-logo>div {
        font-size: 2rem;
        color: rgb(219, 241, 255);
        font-weight: 500;
        margin-left: 5rem;
        margin-top: 1.5rem;
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 2px solid rgb(219, 241, 255);
    }

    .grid-5 {
        display: flex;
        flex-direction: column;
        width: 89%;
        margin: auto;
        text-align: center;
    }

    .mult-ul {
        width: 100%;
        margin-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid rgb(219, 241, 255);
    }


    .mult-ul li {
        margin-top: 1.2rem;
    }

    .mult-ul ul {
        list-style-type: none;
    }

    .mult-ul ul li a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: rgb(219, 241, 255);
        line-height: 3rem;
    }

    .mult-ul ul li strong {
        font-size: 2rem;
        /* font-weight: li; */
        color: rgb(219, 241, 255);
        /* line-height: 4rem; */
    }

    .last-elem {
        text-align: center;
        font-size: 2.2rem;
        color: rgb(219, 241, 255);
        margin-top: 3rem;
        font-weight: lighter;
        padding-bottom: 2rem;
    }

    .last-elem a {
        color: rgb(219, 241, 255);

    }

    .last-elem a:hover {
        text-decoration: none;
    }

    /* footer end */
}

@media (max-width:600px) {
    html {
        font-size: 40%;
    }

    /* container 4 start */

    .grid-4 {
        margin: auto;
        padding-bottom: 10rem;
        margin-top: 9rem;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .child-grid-4 {
        text-align: center;
        width: 100%;

    }

    .one01 {
        margin-bottom: 5rem;
    }

    /* container 4 end */
}

@media (max-width:420px) {
    html {
        font-size: 35%;
    }
}

@media (max-width:370px) {
    html {
        font-size: 30%;
    }
}